<div class="home">
   <mat-toolbar class="toolbar">
      <img src="../../../assets/images/education.svg" style="padding: 0px 0px 0px 201px;"
         [ngStyle.xs]="{'padding.px': 0}" [ngStyle.sm]="{'padding.px': 0}" routerLink="/home/allbooks">
      <button mat-button style="font-size: 20px; padding-left: 7px;" routerLink="/home/allbooks">Bookstore</button>

      <div class="search_bar" fxHide.lt-md>
         <mat-icon class="search_icon"></mat-icon>
         <input type="text" placeholder="Search..." class="search_input" [(ngModel)]="searchTerm"
            (keyup)="search($event)">
      </div>

      <span style="flex: 1 1 auto;"></span>
      <div style="margin-right: 187px;" [ngStyle.lg]="{'margin-right.px': 187}" [ngStyle.xs]="{'margin-right.px': 0}"
         [ngStyle.sm]="{'margin-right.px': 0}">
         <button mat-icon-button style="margin-right:60px;" [ngStyle.xs]="{'margin-right.px': 10}"
            [ngStyle.sm]="{'margin-right.px': 10}" [ngStyle.lg]="{'margin-right.px': 60}"
            [matMenuTriggerFor]="belowMenu">
            <div fxLayout="column">
               <i class="material-icons-outlined">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF">
                     <path d="M0 0h24v24H0V0z" fill="none" />
                     <path
                        d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z" />
                  </svg>
               </i>
               <span class="button_labels">{{name}}</span>
            </div>
         </button>
         <mat-menu #belowMenu="matMenu" yPosition="below">
            <p style="padding: 15px 15px 0px 15px;">Hello {{name}} </p>
            <button mat-menu-item (click)="toProfile()">Profile</button>
            <button mat-menu-item (click)="myOrders()">My Orders</button>
            <button mat-menu-item (click)="wishList()">My Wishlist</button>
            <button mat-menu-item (click)="onSignOut()">Sign Out</button>
         </mat-menu>

         <button mat-icon-button>
            <div fxLayout="column" (click)="cart()">
               <!-- <span matBadge=" {{count}} " matBadgeOverlap="false"></span> -->
               <i class="material-icons-outlined" matBadge=" {{count}}" matBadgeColor="accent" matBadgeSize="small">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF">
                     <path d="M0 0h24v24H0V0z" fill="none" />
                     <path
                        d="M15.55 13c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.37-.66-.11-1.48-.87-1.48H5.21l-.94-2H1v2h2l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2h7.45zM6.16 6h12.15l-2.76 5H8.53L6.16 6zM7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z" />
                  </svg></i>
               <span class="button_labels" style="margin-top: -13px;" (click)="cart()"> Cart</span>
            </div>
         </button>
      </div>
   </mat-toolbar>
</div>
<!-- it will route the get all books compontnt -->
<div>
   <router-outlet></router-outlet>
</div>